{% extends "base.html" %}

{% block form %}
        <div class="header-search">
            <form action="#" method="GET"> 
                {% csrf_token %}
                <input type="text" name="memberID" placeholder="Enter company name...">
                <button>Submit</button>
            </form>
        </div>
{% endblock %}

{% block content %}

<!-- Table for Bio Data -->
<h2 >Caps Benefits</h2>
<hr>
<div class="table-wrapper">
    <table>
        <tr>
            <th>Caps</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Iplan</th>
            <th>Company</th>
            <th>S. Date</th>
            <th>Prem</th>
            <th>Status</th>
            <th>Byear</th>
            <th>Update Comp</th>
        </tr>
        <tr>
            <td>{{ capsbenefitsdata.caps }}</td>
            <td>{{capsbenefitsdata.amt}}</td>
            <td>{{capsbenefitsdata.type}}</td>
            <td>{{ capsbenefitsdata.iplan }}</td>
            <td>{{ capsbenefitsdata.comp }}</td>
            <td>{{ capsbenefitsdata.sdate }}</td>
            <td>{{ capsbenefitsdata.prem }}</td>
            <td>{{ capsbenefitsdata.status }}</td>
            <td>{{ capsbenefitsdata.byear }}</td>
            <td>{{ capsbenefitsdata.updatecomp }}</td>
        </tr>
    </table>
</div>
{% endblock %}